{% extends "base.html" %}
{%block start%}
<h2>Add Receipe</h2>


<form action="" method="post" enctype="multipart/form-data">
 {% csrf_token%}
  Receipe name: <input name="Receipe_name" type="text"><br>
  Receipe des:  <input name="Receipe_des" type="text"><br>
 
  Receipe image:<input name="Receipe_img" type="file"><br>
  <input type="submit">
 
</form>

<form>

<input type="text" name="search"><br>
<input type="submit" name="submit" value="search">

</form>
<table class="table" border="1">
  <thead>
    <th>Sn</th>
    <th>receipe_name</th>
    <th>receipe_description</th>
    <th>recp image</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {%for receipe in receipes%}
    <tr>
      <th scope="col">{{forloop.counter}}</th>
      <th scope="col">{{receipe.receipe_name}}</th>
      <th scope="col">{{receipe.receipe_description}}</th>
      <th><img src="/media/{{receipe.receipe_image}}" alt="" style="width:90px"></th>
   <th><a href="/delete_receipe/{{receipe.id}}/">Delete</a>
    <a href="/update_receipes/{{receipe.id}}/">Update</a>
  </th>
  
    </tr>

    {%endfor%}
  </tbody>

</table>
{% endblock %}